
result/index_files/.DS_Store
.idea/deployment.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/modules.xml
.idea/php.xml
.idea/vcs.xml
.idea/WeertEnergie-nieuwsbrief-template.iml
result/.DS_Store
.DS_Store
*.xml
result/test.html
